ul
	li
		a.nav__item.nav__item--hidden(href="index.html#home")
			include ../../../public_html/layout/images/svg/logo.svg
	li
		a.nav__item(href="./about.html") L'entreprise
		ul
			li
				a.nav__item(href="./about.html#about-first") Notre histoire
			li
				a.nav__item(href="./about.html#about-second") Notre activité
			li
				a.nav__item(href="./about.html#about-third") Qualite et certification
			li
				a.nav__item(href="./about.html#about-fourth") Notre équipe
	li
		a.nav__item(href="index.html#collection") Notre collection
		ul
			li
				a.nav__item(href="./products-industries.html") Produits industriels
			li
				a.nav__item(href="./products-public.html") Produits grand public  
	li
		a.nav__item(href="index.html#store") La boutique
	li
		a.nav__item(href="index.html#chocolate") Chocolaté
		ul
			li
				a.nav__item(href="./fabric.html") fabrication
			li
				a.nav__item(href="./index.html#Recepts") Recettes gourmandes
	li
		a.nav__item(href="index.html#media") Media