include includes/header
<body class="inner about">

.toolbar
	.container
		.row
			nav.nav.nav--brown
				include includes/toolbar
#loader.loader

.slider
	section.page(id="about-first")
		.container
			.row
				.col-xs-5
					.fotorama(data-autoplay="true", data-arrows="false", data-width="100%")
						img(src="./layout/images/history-slide.png")
						img(src="./layout/images/history-slide.png")
						img(src="./layout/images/history-slide.png")
				.col-xs-7.xxl-padding-left
					.scroll
						.scroll__frame
							//h1.page__title Notre histoire 
							h3.page__sub-title La Chocolaterie de Provence : <br>une aventure industrielle et humaine
							p Fondée en 1952 dans le 11ème arrondissement de Marseille,  l’usine de chocolat du quartier de Saint-Menet fait partie intégrante du patrimoine économique et architectural (ses bâtiments sont signés de l’architecte Ferdinand Pouillon) de la cité phocéenne.Créée à l’origine par Nestlé, cette entreprise a été reprise en 2012 par des investisseurs russes.

							h3.page__sub-title Une nouvelle ère
							p La Chocolaterie de Provence, rebaptisée en l’honneur de son territoire d’origine, entame désormais avec optimisme et détermination le troisième chapitre de son histoire, portée par de nouvelles ambitions tout en restant résolument ancrée dans le tissu économique local. Le fameux dicton marseillais « quand on sent le chocolat, c’est qu’il va pleuvoir » a encore de beaux jours devant lui !
							
							h3.page__sub-title Une nouvelle ère
							p La Chocolaterie de Provence, rebaptisée en l’honneur de son territoire d’origine, entame désormais avec optimisme et détermination le troisième chapitre de son histoire, portée par de nouvelles ambitions tout en restant résolument ancrée dans le tissu économique local. Le fameux dicton marseillais « quand on sent le chocolat, c’est qu’il va pleuvoir » a encore de beaux jours devant lui !
					p 
						a(href="#about-second") Notre activité <br>
						a(href="#about-third") Qualite et certification<br>
						a(href="#about-fourth") Notre équipe
	section.page(id="about-second")
		.container
			.row
				.col-xs-5
					img(src="./layout/images/h-2.png")
				.col-xs-7.xxl-padding-left
					h1.page__title Notre activité
					.scroll
						.scroll__frame
							h3.page__sub-title La Chocolaterie de Provence : <br>une aventure industrielle et humaine
							p La Chocolaterie de Provence s’appuie sur les savoir-faire traditionnels des employés de longue date de cette fabrique marseillaise et sur des équipements entièrement remis à niveau. Aujourd’hui, nous sommesl’un des rares fabricants de chocolat en Europe à effectuer le processus completde traitement du chocolat: de la réception des fèves à l’élaboration de toute une gamme de produits semi-finis à destination des professionnels (chocolat liquide, beurre de cacao et drops) et finis à destination des consommateurs (tablettes de chocolat) sous notre marque privée « La Chocolaterie de Provence » ou sous marques de distributeurs. En tout, plus de 200 recettes maison sont réalisables.
							p La Chocolaterie de Provence s’appuie sur les savoir-faire traditionnels des employés de longue date de cette fabrique marseillaise et sur des équipements entièrement remis à niveau. Aujourd’hui, nous sommesl’un des rares fabricants de chocolat en Europe à effectuer le processus completde traitement du chocolat: de la réception des fèves à l’élaboration de toute une gamme de produits semi-finis à destination des professionnels (chocolat liquide, beurre de cacao et drops) et finis à destination des consommateurs (tablettes de chocolat) sous notre marque privée « La Chocolaterie de Provence » ou sous marques de distributeurs. En tout, plus de 200 recettes maison sont réalisables.
							h3.page__sub-title De Marseille aux 4 coins du globe : un chocolat <br>français qui s’exporte
							p Les produits de La Chocolaterie de Provence sont expédiés en Europe, Russie, Israël et jusqu’aux Etats-Unis. Son emplacement géographique, aux portes de l’Europe et de l’Afrique, permet à l’entreprise de valoriser le chocolat françaisà l’export. Dès 2015, La Chocolaterie de Provence s’attaquera à denouvelles destinations - Moyen-Orient, Asie... - tout en renforçant ses positions sur les marchés russes, américains et français. 

							h3.page__sub-title La Chocolaterie de Provence en dates clés
							p 1952 Création par Nestlé
								br
								| 2012 Rachat par les investisseurs russes
								br
								| 2013 Production de la marque « La Chocolaterie de Provence »
								br
								| 2014 Ouverture de la première boutique La Chocolaterie de Provence à Marseille
	section.page(id="about-third")
		.container
			.row
				.col-xs-5
					.fotorama(data-autoplay="true", data-arrows="false", data-width="100%", data-height="320")
						.cert(style="background-image: url(./layout/images/cert.jpg);").center
							img(src="./layout/images/frame-big.png")
						.cert(style="background-image: url(./layout/images/cert.jpg);").center
							img(src="./layout/images/frame-big.png")
						.cert(style="background-image: url(./layout/images/cert.jpg);").center
							img(src="./layout/images/frame-big.png")
				.col-xs-7.xxl-padding-left
					h1.page__title Qualité et certification
					.scroll
						.scroll__frame
							h3.page__sub-title Une exigence de qualité… pour des chocolats d’excellence
							
							p Fruit d’une mise aux normes complète des installations, la certification ISO 22 000 (norme internationale relative à la sécurité des produits alimentaires) a été obtenue par La Chocolaterie de Provence en 2014. L’entreprise s’engage ainsi à se conformer aux plus hauts standards en termes de qualité, de traçabilité et de sécurité alimentaire. Plus encore, nous nous inscrivons dans une démarche permanente d’amélioration continue, afin de garantir aux consommateurs des produits d’excellente qualité. La Chocolaterie de Provence a également engagé des démarches pour décrocher de nouvelles certifications, notamment les référentiels BRC1 et IFS2 des enseignes de la grande distribution européenne. Pas moins de 360 points d’exigence sont à l’étude pour une validation en 2015.

							h3.page__sub-title Chocolat certifié Casher
							p L’une des rares à se positionner sur ce marché, La Chocolaterie de Provence propose une gamme de chocolats Casher, élaborés selon des rituels sanitaires et spirituels précis. Tous nos produits sont Casher et certifiés par l’Union des Congrégations Orthodoxes Juives d’Amérique.

							h3.page__sub-title Un chocolat fidèle aux ingrédients traditionnels…
							p En 2003, une loi européenne a autorisé les fabricants à utiliser des graisses végétales, y compris des huiles de palme, dans la formulation du chocolat. Malgré cela, notre usine conserve les recettes traditionnelles appréciées des vrais gourmands : nous n’utilisons que la matière grasse naturelle du cacao, le beurre de cacao. Par ailleurs, la plupart de nos ingrédients sont fabriqués en France. Tous nos ingrédients passent par plusieurs étapes afin d’en garantir la traçabilité et la qualité : chacun d’entre eux fait l’objet de documentation et de formulaires qui sont examinés attentivement par notre service qualité. Ils sont ensuite testés. Pour quels critères ?

							h3.page__sub-title … et aux recettes traditionnelles !
							p Héritage de l’usine Nestlé, notre équipement de conchage nous permet de concher longuement le chocolat. En effet, plus le brassage est long, plus le chocolat sera savoureux et onctueux ! Ainsi, le mélange de chocolat et de sucre passe par 6 conches successives et connectés. Au fur et à mesure, le chocolat devient de plus en plus homogène. Au total, notre chocolat passe jusqu’à 72 heures dans ces conches, ce qui lui donne un goût d’une exclusive finesse et d’une infinie douceur.La preuve : notre chocolat est broyé à une finesse de 18 microns, soit 0,0018 millimètres ! C’est un excellent indicateur car plus les particules sont fines, plus le chocolat est tendre.

							p
								small 1 British Retail Consortium
									br
									| 2 International Food Standard
	section.page(id="about-fourth")
		.container
			h1.page__title.center Notre équipe
			h3.page__sub-title.center Des femmes et des hommes réunis autour d’une même passion : le chocolat
			.row
				.col-xs-10.col-xs-offset-1.center
					p Prés de 60 personnes travaillent aujourd’hui à La Chocolaterie de Provence. Détenteurs d’un véritable savoir-faire, ils œuvrent chaque jour àélaborer des chocolats de grande qualité, produits en France. Des investisseurs russes aux employés, tous croient fermement au potentiel de cette entreprise et s’y consacrent avec fierté.
			.xxl-padding-left
				.scroll
					.scroll__frame
						.center.s-padding-top
							.person
								.person__image(style="background-image: url(./layout/images/u-1.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Yulia Serykh
								span.person__info Directrice generale
								a.person__email(href="mailto:contact@chocolateriedeprovence.fr") contact@chocolateriedeprovence.fr
							.person
								.person__image(style="background-image: url(./layout/images/u-2.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Christian Becker
								span.person__info Directeur de production
							.person
								.person__image(style="background-image: url(./layout/images/u-3.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Gamliel Cohen
								span.person__info Directeur administrative et financier
							.person
								.person__image(style="background-image: url(./layout/images/u-4.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Mireille Sambuc
								span.person__info Chef de projets
								a.person__email(href="mailto:mireille.sambuc@chocolateriedeprovence.fr") mireille.sambuc@chocolateriedeprovence.fr

							.person
								.person__image(style="background-image: url(./layout/images/u-5.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name David Mouret
								span.person__info Directeur technique
						.center
							.person
								.person__image(style="background-image: url(./layout/images/u-12.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Dorothee Lefevre
								span.person__info Responsable commerciale (France)
								a.person__email(href="mailto:Dorothee.lefevre@chocolateriedeprovence.fr") Dorothee.lefevre@chocolateriedeprovence.fr
							.person
								.person__image(style="background-image: url(./layout/images/u-6.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Clemence Guiral
								span.person__info Responsable qualité
								
								a.person__email(href="mailto:clemence.guiral@chocolateriedeprovence.fr") clemence.guiral@chocolateriedeprovence.fr
							.person
								.person__image(style="background-image: url(./layout/images/u-7.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Yuri Shumenko
								span.person__info Responsable commercial Russie et CEI
								
								a.person__email(href="mailto:y.shumenkov@chocolateriedeprovence.fr") y.shumenkov@chocolateriedeprovence.fr
							.person
								.person__image(style="background-image: url(./layout/images/u-11.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Sophie Maestraggi
								span.person__info Assistante commerciale
								a.person__email(href="mailto:Sophie.maestraggi@chocoateriedeprovence.fr") Sophie.maestraggi@chocoateriedeprovence.fr
							.person
								.person__image(style="background-image: url(./layout/images/u-9.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name John Mischkulnig
								span.person__info Responsable commercial Europe et Etats-Unis
								a.person__email(href="mailto:john.mischkulnig@gmail.com") john.mischkulnig@gmail.com
							.person
								.person__image(style="background-image: url(./layout/images/u-10.jpg)")
									img(src="./layout/images/frame-small.png")
								span.person__name Sarah Rouan
								span.person__info Responsable achats
								
								a.person__email(href="mailto:Sarah.rouan@chocolateriedeprovence.fr") Sarah.rouan@chocolateriedeprovence.fr



		.footer
			.container
				.row
					.col-xs-2.col-lg-1
						.logo
							include ../../public_html/layout/images/svg/logo.svg
					.col-xs-9.col-lg-10.info.center
						a(href="#") La chocolaterie
						span Tél. : +33 (0) 4 84 25 82 80
						span Fax : +33 972 386 444
						a(href="#") info@chocolateriedeprovence.fr
					.col-xs-1.right
						nobr
							a(href="#")
								include ../../public_html/layout/images/svg/fb.svg
							a(href="#")
								include ../../public_html/layout/images/svg/insta.svg
			



include includes/footer