include includes/header
<body class="fabric inner">

.toolbar
	.container
		.row
			nav.nav.nav--brown
				include includes/toolbar
				
.page
	.container.center
		h1 Processus de fabrication
		.fabric__block.xl-margin-top
			img(src="./layout/images/f-1.png", alt="")
			.fabric__text Fèves de cacao
		.row
			.col-xs-5.right 1. Nettoyage
			.col-xs-2.center 2. Séchage
			.col-xs-5.left 3. Concassage
		br
		img(src="./layout/images/arrow-down.png")
		br
		.fabric__block
			img(src="./layout/images/f-2.png", alt="")
			.fabric__text Nibs
		br
		img(src="./layout/images/arrow-down.png")
		br
		.fabric__block.xl-margin-top
			img(src="./layout/images/f-3.png", alt="")
			.fabric__text Nibs torréfiées<br> Naturels ou<br> Alcalinisés
		.row
			.col-xs-5.right 1. Broyage
			.col-xs-2.center 2. Raffinage
			.col-xs-5.left 3. Tamisage
		.row.s-margin-top
			.col-xs-4.col-xs-offset-1.center
				.right
					img(src="./layout/images/arrow-left.png")
					br
					br
				.fabric__block
					img(src="./layout/images/f-4.png", alt="")
					.fabric__text Liqueur de cacao<br>Naturelle ou alcalinisée
				br
				| Pressage
			.col-xs-2.center 
			.col-xs-4.center
				.left
					img(src="./layout/images/arrow-right.png")
					br
					br
				.fabric__block
					img(src="./layout/images/f-5.png", alt="")
					.fabric__text Liqueur<br>naturelle de cacao
				
		.row
			.col-xs-6
				.row
					.col-xs-6.left
						.center
							img(src="./layout/images/arrow-left.png").xxl-margin-left
							br
						.fabric__block
							img(src="./layout/images/f-6.png", alt="")
							.fabric__text Tourteau
						.row
							.col-xs-8.center
								| 1. Concassage 
								br
								| 2. Broyage
								br
								img(src="./layout/images/arrow-down.png")
								br
						.fabric__block
							img(src="./layout/images/f-9.png", alt="")
							.fabric__text Poudre de cacao<br>Naturelle<br>ou alcalinisée
						.row
							.col-xs-8.center.xxl-line-height
								| 1. Refroidissement
								br
								| 2. Stabilisation 
								br
								nobr 3. Conditionnement
								br
								| 4. Stockage 
								br
								img(src="./layout/images/arrow-right.png").s-margin-top
								br
					.col-xs-6.right
						.center
							img(src="./layout/images/arrow-right.png").xxl-margin-right
							br
						.fabric__block
							img(src="./layout/images/f-7.png", alt="")
							.fabric__text Beurre de cacao
						.row
							.col-xs-8.center.col-xs-offset-3
								| 1. Filtration
								br
								| 2. Désodorisation
								br
								img(src="./layout/images/arrow-down.png")
								br
						.fabric__block
							img(src="./layout/images/f-12.png", alt="")
							.fabric__text Beurre<br>désodorisé
						.row
							.col-xs-8.center.col-xs-offset-3
								| 1. Filtration
								br
								| 2. Désodorisation
								br
								img(src="./layout/images/arrow-short.png")
								br
				.center
					.fabric__block.fabric__block--transparent(style="margin-top: -30px")
						img(src="./layout/images/f-11.png", alt="")
						.fabric__text Industrie<br>agroalimentaire 
			.col-xs-6
				.xxl-line-height(style="margin-top: -60px")
					br
					| 1. Incorporation 
					br
					| 2. Mélange
					br
					| 3. Broyage
					br
					| 4. Conchage
					br
					img(src="./layout/images/arrow-down.png")
					br
					.fabric__block
						img(src="./layout/images/f-8.png", alt="")
						.fabric__text Chocolat liquide
				.row
					.col-xs-6.left
						.center(style="margin-top: -30px")
							img(src="./layout/images/arrow-left.png").l-margin-left
							br
						.center.xxl-line-height.xl-margin-top
							| Stockage liquide
						img(src="./layout/images/arrow-long.png" style="margin-left: -170px").xl-margin-top
					.col-xs-6.right
						.center(style="margin-top: -30px")
							img(src="./layout/images/arrow-right.png").l-margin-right
							br
						.row
							.col-xs-8.center.col-xs-offset-3.xxl-line-height
								br
								| 1. Stockage liquide
								br
								| 2. Temperage
								br
								| 3. Moulage
								br
								img(src="./layout/images/arrow-down.png")
								br
						
						.fabric__block
							img(src="./layout/images/f-10.png", alt="")
							.fabric__text Drops<br>Tablettes / tablets
						.right.xxl-margin-right
							| Consommateurs
						
include includes/footer