include includes/header
<body class="product inner">

.toolbar
	.container
		.row
			nav.nav.nav--brown
				include includes/toolbar
				
#loader.loader

.page
	.hidden
		.arrow
			.arrow__prev
				include ../../public_html/layout/images/svg/left.svg
			.arrow__next
				include ../../public_html/layout/images/svg/right.svg

	.public
		.public__nav
			a(href="#public-1" data-id="1") Gamme classique
			a(href="#public-2" data-id="2") Chocolat au riz soufflé
			a(href="#public-3" data-id="3") Chocolat noir ( 100 g )
			a(href="#public-4" data-id="4") Chocolat noir avec des ingrédients
			a(href="#public-5" data-id="5") Chocolat au lait ( 100 g )
			a(href="#public-6" data-id="6") Chocolat blanc
			a(href="#public-7" data-id="7") Chocolat noir ( 200 g )
			a(href="#public-8" data-id="8") Chocolat au lait ( 200 g )
			a(href="#public-9" data-id="9") Gamme dessert
		.public__slider(data-width="100%" data-height="480" data-nav="false" data-loop="true" data-click="false" data-arrows="always")
			.public__item(id="public-1")
				.public__title Gamme classique
				img(src="./layout/images/public-image-1.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-2")
				.public__title Chocolat au riz soufflé
				img(src="./layout/images/public-image-2.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-3")
				.public__title Chocolat noir ( 100 g )
				img(src="./layout/images/public-image-3.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-4")
				.public__title Chocolat noir avec des ingrédients
				img(src="./layout/images/public-image-4.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-5")
				.public__title Chocolat au lait ( 100 g )
				img(src="./layout/images/public-image-5.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-6")
				.public__title Chocolat blanc
				img(src="./layout/images/public-image-6.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-7")
				.public__title Chocolat noir ( 200 g )
				img(src="./layout/images/public-image-7.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-8")
				.public__title Chocolat au lait ( 200 g )
				img(src="./layout/images/public-image-8.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
			.public__item(id="public-9")
				.public__title Gamme dessert
				img(src="./layout/images/public-image-9.png")
				.public__pack.public__pack--disable.public__pack--left.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--bottom
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--left.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.
				.public__pack.public__pack--disable.public__pack--right.public__pack--top
					img(src="./layout/images/sch.png")
					.public__text
						p
							strong 100 gr Dark Chocolate with pieces of Pomegranate<br>52% of cocoa minmum<br>Bar size: 191 x 91 x 9 mm<br>Expiry date: 18 months from the date of production<br>Presentation options: carton  boxes 10 and 20 tablets, table displays, floor displays
						p Ingrédients : sucre, pâte de pépites au jus de grenade (saccharose, jus de grenade, purée de pomme, dextrose, fibres d'ananas, alginate de sodium, arômes, orthophosphate de calcium, acide citrique, jus concentrés) (16%), beurre de cacao, émulsifiant : lécithine de soja (sans OGM), arôme (vanilline). Peut contenir des traces de lait, de gluten, de noisettes et d’autres fruits à coques.

			




include includes/footer