@font-face
	font-family 'Trojan'
	src url("../fonts/trojan-bold.woff")
	src local('☺'), url('../fonts/trojan-bold.woff') format('woff')
	font-weight bold

@font-face
	font-family 'CharterWeb'
	src url("../fonts/charter-regular.otf")
	src local('☺'), url('../fonts/charter-regular.otf') format('opentype')
	font-weight normal

@font-face
	font-family 'CharterWeb'
	src url("../fonts/charter-bold.otf")
	src local('☺'), url('../fonts/charter-bold.otf') format('opentype')
	font-weight bold
